{
    "trailingComma": "none",
    "endOfLine": "lf",
    "tabWidth": 4,
    "printWidth": 180,
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "quoteProps": "consistent"
}
